@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <form method="post" action="/home/testc">
        x : <input type="text" name="x" value="" class="form-control" />
        y : <input type="text" name="y" value="" class="form-control" />

        <button type="submit" class="btn btn-primary">전 송</button>
    </form>
</div>
