<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        안녕하세요. 테스트 페이지입니다.
        @*@RenderBody()*@
    </div>
</body>
</html>
